body {
  font-family: 'Source Sans Pro', Arial;
  font-size: 1em;
  color: #444444;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  color: #333333;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #555555;
}

h3 {
  font-weight: 700;
  font-size: 1.25em;
  color: #555555;
}

p {
  font-family: 'Bitter', Georgia;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-align: justify;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #FF0099;
}


nav {
  position: fixed;
  background: #CCCCCC;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0 auto;
}

.nav ul, li {
  display: inline;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 20px solid #FF0099;
}

.first {
  border-left: 0;
}

.container {
  margin: 80px auto;
  margin-bottom: 0px;
  width: 600px;
  padding: 0px 20px 0px 20px;
}

.tags {
  font-family: 'Source Sans Pro', Arial;
  color: #555555;
  font-variant: small-caps;
  text-transform: lowercase;
  border-bottom: 1px dotted #CCCCCC;
  margin-bottom: 40px;
}

.edit {
  text-align: right;
  margin-bottom: -42px;
}

.copy {
  background: #FF0099;
  width: 100%;
  min-height: 40px;
  padding-top: 20px;
  margin: 0;
}

.copytext {
  color: #ffffff;
  padding-left: 55px;
  font-family: 'Source Sans Pro';
  font-size: 0.8em;
}