<% if @current_user.id == @post.user_id %>
<h2>Are you sure you want to delete that?</h2>

<p><i class="icon-quote-left icon-large"></i> <%= @post.title %> <i class="icon-quote-right icon-large"></i> will be gone forever.</p>

<p>Click the icon to delete:</p>

<form action="/posts/<%=@post.id%>/delete" method="post" name="deletepost">
    <input type="hidden" name="delete" value="<%= @post.id %>">
    <a href="javascript:document.deletepost.submit()"><i class="icon-trash icon-4x"></i></a>
</form>

<% else %>
<h2>Whoops!</h2>
<p>You can only delete your own post.</p>
<% end %>