<form action="/login" method="post">
  <label for="email">
    <h3>Email</h3>
  </label>

  <input type="text" id="email" name="login[email]" placeholder="you@email.com" size="70" autofocus>

  <label for="password">
    <h3>Password</h3>
  </label>

  <input type="password" id="password" name="login[password]" placeholder="******" size="70">

  <p><input type="submit" id="submit" value="Login"></p>
</form>