<% if logged_in? %>
<h2>New post</h2>
<p>Enlighten us with your clever words.</p>
<form action="/posts/new" method="post">
<label for="title">
  <h3>Title</h3>
  <p>Keep it short, keep it simple.</p>
</label>
  
<input type="text" id="title" name="post[title]" placeholder="My awesome post" size="70" max="255" autofocus>

<label for="content">
  <h3>Content</h3>
  <p>Separate paragraphs with two line breaks (<code>&lt;br&gt;&lt;br&gt;</code>).</p>
</label>

<textarea id="content" name="post[content]" rows="6" cols="70" placeholder="Pop-up dolor Williamsburg, put a bird on it laboris pork belly try-hard . iPhone letterpress selvage placeat, chambray blog semiotics. Kale chipassumenda do, banh mi eu mollit flexitarian literally banjo four loko.">
</textarea>

<label for="tags">
  <h3>Tags</h3>
  <p>Separate tags with commas, like so: <code>tag1, tag2, tag3</code>.</p>
</label>

<input type="text" id="tags" name="post[tag_names]" placeholder="Tag me!" size="70">

<input type="hidden" name="post[user_id]" value="<%=@current_user.id%>">

<p><input type="submit" value="Post"></p>

</form>
<% else %>
<h2>Whoops!</h2>
<p>You must login before you can create a post.</p>
<%= erb :login_form, :layout => false %>
<% end %>