<h2><%= @user.name %></h2>

<%= @user.posts %>

<% @all_posts.each do |post| %>
<p class="userlist"><i class="icon-double-angle-right"></i> 
  <a href="/posts/<%= post.id %>"><%= post.title %></a>
<% end %>