<h2>All Weeblog users</h3>

<% @all_users.each do |user| %>  
    <ul>
    <li class="first"><%= user.name %></li>
    <li><%=user.posts.count%> posts</li>
    <li><a href="/user/<%=user.id%>">View profile</a></li>
    </ul>
<% end %>
